[2013-09-04 10:41] schoffelen opened #1 "redesign output of mous_db_getdata to better reflect the functionality of MATLAB's built-in load()"
Right now, if mous_db_getdata is called without output arguments, it behaves like load, i.e. it loads in all variables from a file and assigns the variable name to be the same as in the file. If an output argument is used, it creates a cell-array.
When the variable is a structure, a field is added, containing the original variable name.
This is a bit silly, I suggest to change behavior into MATLAB

[2013-09-10 13:50] schoffelen opened #2 "redo the preprocessing for a few visual subjects without highpassfiltering and evaluate the effect -> redo preprocessing for all subjects"
-at channel level erfs
-at source level mne

things to look at: it seems now, across subjects that there is a very consistent shape in the (sourcelevel) erf that may be a filter artifact.

[2013-10-03 13:16] schoffelen opened #3 "compute the parametric change in ERF as a function of word position, as discussed in MOUS-meeting"

[2013-10-03 13:17] schoffelen opened #4 "compute the oscillatory responses in the gamma-band, as discussed in MOUS-meeting"
Use as example the processing that has been done for the beta and theta frequencies

[2013-10-08 15:07] schoffelen opened #5 "mous_mne_pipeline: investigate the strange superior frontal effect in the main contrast"
I noticed that the triangle areas on the cortical sheet are largest approximately at the location where we find the most consistent effect. I am wondering whether one thing may cause the other. MNE-suite has the option to compute the current density, which somehow takes triangle area into account.

To do:
-implement this in fieldtrip
-investigate whether this affects the single subject reconstruct

[2013-10-29 08:05] schoffelen opened #6 "Recordings consisting of more than 1 dataset"
This is not yet correctly dealt with. Currently mous_db_getfilename guesses the 'meg_raw_task' to be the biggest *.ds container in the directory. This means that for some subjects not all data are processed. I believe that this holds for ALL analysis steps (so e.g. also for the artifact detection).

-identify the subjects (should be either easily recoverable from bigU site, or from the data direct

[2013-10-29 08:06] schoffelen opened #7 "Anatomy pipeline feedback session"
@manuschuetze @lauare shall we meet either this week or early next week so that I can talk you through some recent changes in the anatomy pipeline?

[2013-10-29 08:10] #5 closed, assigned to schoffelen

[2013-10-29 08:15] schoffelen opened #8 "functional parcellation of source-level data"
data dimensionality reduction for source level data can be achieved by parcellation. Currently we are trying out parcellations based on anatomical atlases.

To give full credit to the data it might be better to parcellate based on functional criteria.

One thing to try out would be to do a minimal graph cut based on the source level correlation matrix (across single trials, or perhaps also across

[2013-10-29 16:43] annhul opened #9 "mous_makemovie_mne options"
Choice for plotting only laterarl, medial, left or right views

[2013-10-30 10:11] JuliaUdden opened #10 "Validate MNI-coordinate system in FMRI first and second level results for FMRI-MEG comparison"

[2013-10-30 10:22] JuliaUdden opened #11 "FMRI-paths to single subject results"

[2013-10-31 10:35] #7 closed, assigned to schoffelen

[2013-10-31 14:54] annhul opened #12 "Change time axis on the meg data to account for beamer delay and the audio delay"

[2013-10-31 15:03] manuschuetze opened #13 "CTF Coregistration on remaining subjects"
This is my first assingnment on github and I'm very proud of it. How can I add Laura to this issue?

[2013-11-15 09:20] annhul opened #14 "Remaining artifacts in visual subjects"
Went through all visual subjects and found frontal drifts in:

V1111 V1113 V1115 V1076 V1052 V1005 V1003 V1010 V1021 V1097

and a channel jump in
V1061

@nihll can you look into this, let us know when new artifacts files ar availble so that we can recompute ERFs and MNEs and TFRs for these subjects.

[2013-11-18 11:13] annhul opened #15 "position scale in mouse_sourcemovie"
The coordinates for the selected activity that are shown in the top right corner have a different scale when using the inflated vs. when using the folded brain. Scaling issue only of something else?

[2013-12-01 20:17] #15 closed, assigned to schoffelen

[2013-12-01 20:17] #3 closed, assigned to schoffelen

[2013-12-04 17:06] JuliaUdden opened #16 "FMRI-paths to group level Sent vs IBI mask without cerebellum"
/home/language/juludd/MOUS/RFX_VIS_102_Ttests/SentVsIBI/Mask_no_Cerebell_SentVsIBI.img

[2013-12-05 14:55] JuliaUdden opened #17 "Path to normalization parameters for a generic subject V1XXX"
/home/language/juludd/MOUS/preprocdata/V1XXX/Structural/V1XXXcoregMNI_sn.mat

[2013-12-09 10:23] JuliaUdden opened #18 "Path to MEG-groups sent>seq and seq>sent, LIFG, BA 22/21 and BA6."

[2013-12-09 14:15] annhul opened #19 "(f)mri data moving to the project folder"
@JuliaUdden this need to happen sooner rather than later. I need to save the interpolated mri data in the mri folders instead of the meg folder (where they do not belong)

[2013-12-16 16:22] annhul opened #20 "Cluster of clustes analaysis is still missing"

[2013-12-17 08:04] #20 closed, assigned to schoffelen

[2013-12-17 08:13] schoffelen opened #21 "erf - visual - allwords"
I suggest to work towards consistently running and documenting each type of analysis.
This will be kept track of in an issue, and attached to the milestone 'spring evaluation'

[2013-12-17 08:22] schoffelen opened #22 "erf - visual - target words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:22] schoffelen opened #23 "erf - audio - allwords"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:23] schoffelen opened #24 "erf - audio - target words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:26] schoffelen opened #25 "oscillations - visual - all words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:27] schoffelen opened #26 "oscillations - audio - all words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:27] schoffelen opened #27 "oscillations - visual - target words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:27] annhul opened #28 "erf - all words- visual - Envelope to get latency"
Envelope of sustained activity of each word in the sentence to compare the latencies of the ordinal word position

[2013-12-17 08:28] schoffelen opened #29 "oscillations - audio - target words"
- pipeline implementation. Which pipeline? Which dependent key functions?
- pipeline documentation. Are the scripts sufficiently verbose to understand what is going on? Is there separate documentation?
- single subject results computation. Where are these stored? Tick off only when all subjects have been run with a consistent version of the pipeline.
- group result computation (if applicable). Whi

[2013-12-17 08:37] schoffelen opened #30 "Cluster of clusters analysis for the MNE data"
Discuss with Annika

[2014-01-02 09:28] #13 closed, assigned to nobody

[2014-01-02 09:29] schoffelen opened #31 "execute anatomy pipeline for the remainder of the audio subjects"
This is a follow up on the issue related to the anatomical processing.

[2014-01-02 09:53] schoffelen opened #32 "reorganize directory structure on /project/3011020.09"
As discussed with Julia and Annika at the FBR the proposal is to re-organize the directory structure on /project/3011020.09 a bit.
Since Julia has not yet started to copy over her data it may be a good plan to get the new organization in place before she starts doing so @JuliaUdden agreed?

From the top of my head, this is what we agreed upon:

The /project/3011020.09/ directory will still contain

[2014-01-02 11:52] schoffelen opened #33 "clean up ~annhul/MOUS"
check which data is still needed to be copied over to /project/3011020.09

Once this is done, we should notify TG that Annika's official quotum is now solely on /project/3011020.09. This will dismantle the MOUS quotum on the partition on ~annhul.

right now there's still 535 GB worth of data on ~annhul/MOUS. I guess most of it is deprecated/duplicated on /project/3011020.09

Should we go over this

[2014-01-02 11:54] schoffelen opened #34 "mous_MNE_pipeline: can this one be deprecated?"
We now have in analysis_scripts:

mous_mne_pipeline
and
mous_MNE_pipeline

I think mous_MNE_pipeline can be deprecated.

[2014-01-23 11:09] #34 closed, assigned to annhul

[2014-01-23 11:09] #1 closed, assigned to schoffelen

[2014-02-18 16:08] schoffelen opened #35 "perform a quality check on the channel-level ERF"
It seems this has been done for the visual data, but I am not aware of any documentation of this. I suggest to not only inspect the ERF but also save some .png for later reference.

This needs to be done both for the visual data  and the audio data.

[2014-02-23 19:24] schoffelen opened #36 "Issues with auditory trial definition"
For follow up I paste below an e-mail sent by Nietzsche to JM, regarding some open issues related to the trial definition for the auditory subjects, which is still not as smooth as it should be. This needs to be followed up. I open this issue to keep track of the progress.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

I went through the auditory subjects for MOUS, and have

[2014-02-25 11:54] JuliaUdden opened #37 "Visual n = 102 - relevant contrasts, including timebins, processed"

[2014-02-25 11:55] JuliaUdden opened #38 "Auditory n = 102 - relevant contrasts, including timebins, processed"

[2014-02-25 11:56] JuliaUdden opened #39 "Visual vs Auditory, n=204, all relevant contrast including timebins processed"

[2014-02-25 11:58] JuliaUdden opened #40 "Behavioral data coding and analysis"
All behavioral data including logfiles from FMRI and MEG coded, inserted into SPSS file and analyzed for basic structure of correlations.

[2014-02-25 11:59] JuliaUdden opened #41 "Basic behavioral/FMRI correlations"

[2014-03-03 08:20] schoffelen opened #42 "mous_anatomy_pipeline output: verify once more left/right coregistration"
Annika found an issue with left/right in V1115. Verify this and check all other subjects as well.

As a first check the sign of det(mri.transform(1:3,1:3)) should be checked. These should have the same sign for the coregCTF and coregMNI. If they are not the same sign, one of them is flipped. NOTE: if they are the same sign, they could be BOTH flipped, but this is highly unlikely. Even one of them

[2014-03-03 10:17] schoffelen opened #43 "coregistration issue with V1115 solved: recompute MNE source reconstruction"

[2014-03-03 10:18] schoffelen opened #44 "coregistration issue with V1115 solved: recompute part of bfica pipeline"
The leadfield 8mm should be recomputed, followed by a complete re-run of the analysis of the source_docontrasts for all frequency bands

[2014-03-13 10:12] #44 closed, assigned to nihll

[2014-03-19 14:48] JuliaUdden opened #45 "Updates of FMRI single subject results"
Today, the ffxstats of subject V1039, V1057 and V1087 have been updated.

[2014-03-19 15:11] #45 closed, assigned to nobody

[2014-03-26 15:35] schoffelen opened #46 "Registration mismatch between fMRI normalised space and MEG normalised space"

[2014-03-28 12:49] #46 closed, assigned to nobody

[2014-03-31 13:31] #37 closed, assigned to JuliaUdden

[2014-03-31 13:31] #38 closed, assigned to JuliaUdden

[2014-03-31 13:31] #39 closed, assigned to JuliaUdden

[2014-04-03 07:42] #16 closed, assigned to nobody

[2014-04-03 18:34] schoffelen opened #47 "clean up /project/3011020.09/MEG/bfica"
as discussed with Nietzsche today, we should clean this up.
Right now it is 651 GB for the visual subjects only.

To do: JM will check the files which are owned by him.
Nietzsche will check hers. Note: once Vxxx_sourcedataYYY_low/medium/high are computed, the individual frequency files can probably go.

[2014-04-04 12:48] annhul opened #48 "Determining word onsets for some of the words in the auditory stimuli"
I got the impression that there was general agreement that we should ask RAs to mark the onset times of all words also in the auditroy condition. In priniciple this is not a bad idea but it might be good to first evaluate if this is the time to do it and whether it is worth the effort.
a) Marking the word onset in co-articulated speech is extreamly labourous. I would estimate about 5 min/word and

[2014-04-04 14:54] #6 closed, assigned to schoffelen

[2014-04-04 14:56] #43 closed, assigned to annhul

[2014-04-04 15:33] #9 closed, assigned to schoffelen

[2014-04-07 07:53] schoffelen opened #49 "V1001 trigger problem?"
Annika reported a problem related to the triggers in V1001, where it seems the relative clause triggers are missing altogether. This should be followed up.

-make a script that verifies the problem.
-check whether the triggers are altogether missing, or whether FT can somehow not identify them
-fix, if possible

[2014-04-07 13:30] #23 closed, assigned to nobody

[2014-04-07 13:47] #26 closed, assigned to nobody

[2014-04-10 07:23] schoffelen opened #50 "V1071 (and possibly 1090 and 1100) have something fishy in >=1 of the trials"
Annika reported the mne_pipeline failing for 1071,1090 and 1100. Turned out to be a resource violation issue. When increasing the memory requirement, some of it ran through, but for e.g. V1071 it turns out that a few trials have extremely long offset in their time axis, causing large matrices further downstream (to accommodate for all time points), and thus causing memory issues.

To do:
-verify t

[2014-04-10 07:47] schoffelen opened #51 "coding convention: settle on default rootdir"
I noticed that in some pipeline scripts that are potentially used by more than one of us (e.g. the mous_preprocessing_pipeline) that the default rootdir is sometimes different from /project/3011020.09/MEG. May I suggest to make this directory the default rootdir, unless it's in a script for a pipeline that is likely to be used by only one of us? Since it seems I am now interfering with almost all

[2014-04-12 12:59] annhul opened #52 "sourcemodel ft_sourceplot"
@schoffelen I noted something strange when I played around with the interpolated fmri data, namely that depending on whether I plot the data on the inflated or on the wrinkled brain the activation changes. First I thought that some activity visible on the inflated brain will end up in the sulci on the wrinkled brain, but it goes the other way around as well: activity visible on the wrinkled brain

[2014-04-14 12:51] #49 closed, assigned to annhul

[2014-04-14 14:35] #51 closed, assigned to nobody

[2014-04-14 14:47] #52 closed, assigned to nobody

[2014-04-14 14:51] #50 closed, assigned to schoffelen

[2014-04-15 08:04] #42 closed, assigned to schoffelen

[2014-04-15 08:05] schoffelen opened #53 "Re-run pipelines for A2001"
As of april 15, the l/r flip of the anatomical image (+coregistration info) has been resolved (see issue 36). The MEG source reconstructions (oscillations + ERF) need to be re-done: probably also part of the fMRI analysis.

[2014-04-15 09:41] #40 closed, assigned to JuliaUdden

[2014-04-27 20:27] #31 closed, assigned to nobody

[2014-04-29 14:39] #53 closed, assigned to nobody

[2014-05-13 09:59] #36 closed, assigned to nihll

[2014-05-16 18:35] schoffelen opened #54 "Create contrast that compares words 2-4 and words (n-3)-(n-1)"
As discussed during May workshop

[2014-05-17 05:54] schoffelen opened #55 "Run ordinal word order effect for ERF with pre sentence baseline"
It was suggested during the May MOUS workshop that this should be done, in order to be able to interpret the apparent discrepancy between BOLD and ERF, where BOLD goes up across the sentence, and ERF goes down.

[2014-05-17 20:24] schoffelen opened #56 "Low level FT-issue may have affected RC vs mix comparison"
There was an issue with ft_selectdata (bug 2584) causing subselections of trials sometimes to be incorrect. for the mous_erf_pipeline this certainly caused incorrect results when doing analysis constrained to mix or rc type trials.
I think I now fixed it in FT, but this means that these comparisons need to be re-done.
Also, could @annhul point me to the code that was used to do these comparisons i

[2014-05-20 13:03] #54 closed, assigned to schoffelen

[2014-05-24 12:03] schoffelen opened #57 "do a more refined RC analysis"
As discussed in the MOUS workshop, it would be good to extract the words just after the offset of the relative clause (so just when the main clause continues), and compare this with the equivalent ordinal words in the RC- (or word list?) conditions.

~~-mark the relative clause on and offset in the stimulus material~~ (done by Laura)
~~cross-reference the stimuli in the logfile with the stimulus i

[2014-05-24 12:08] schoffelen opened #58 "check the timing of triggers and audio signal"
Working with Richard Kunert on his dataset, we noticed that there's a non-systematic (i.e. varying across trials) discrepancy between the distance between triggers (coding audio file on- and offset) in the MEG data, as compared to the expected length of the wav-file being presented. We need to check this in our data, too. It seems that so far the audio erfs don't look completely wrong, but it woul

[2014-05-26 09:48] schoffelen opened #59 "quantify the amount of MEG data that is not subjected to further analysis due to artifacts"
To get a good feel of how much data is rejected we should do this. This has been on the to-do-list for quite a while, and I suggest to prioritize it a bit, otherwise it will never be done.

I suggest to quantify it as
1 the number of snippets
2 the total number of samples
3 percentage of the total number of samples
4 something else?

[2014-06-03 08:08] schoffelen opened #60 "clean up V*/mne/"
Right now we again hit our quota ceiling. I think we can again recover some disk space if we clean up the mne directory.

Right now there seems to be a lot of data duplicated, i.e. there exist files which have very similar filenames, and I suspect they also have very similar content. Please check this and remove the stuff that is not used anymore.

One example:

there's a file called:

V1020_mne_a

[2014-06-05 20:32] schoffelen opened #61 "Document which subjects are to be replaced"
This is no doubt known to Julia, and I think also to Nietzsche. Where can this information be found?

[2014-06-20 11:19] schoffelen opened #62 "mous_mne_pipeline: important bug identified"
In re-doing the MNE-pipeline I found a bug related to an issue introduced in FieldTrip a short while ago (I did not explicitly check when). The result being that the MNE results computed after this FT-change are incorrect. I will fix this for now in mous_mne_pipeline, and re-run it for all visual subjects.
Note: results computed more than a month ago are probably not affected.

[2014-07-01 10:26] #62 closed, assigned to nobody

[2014-07-01 10:37] #56 closed, assigned to nobody

[2014-07-01 10:38] #55 closed, assigned to schoffelen

[2014-07-01 10:40] #2 closed, assigned to schoffelen

[2014-07-01 11:26] schoffelen opened #63 "mix up of trigger codes in pipeline script mous_erf_pipeline"
The mous_erf_pipeline script contained a serious bug, allocating trials with codes [5 6 7 8] to the RC+ condition, rather than to the RC- condition.

The ramifications of this are potentially very wide, causing all comparisons involving a contrast between RC+ and RC- to be reversed for all results of the mous_erf_pipeline (and downstream pipelines that rely on those results) in the following scena

[2014-07-02 07:56] #63 closed, assigned to nobody

[2014-07-10 14:45] #61 closed, assigned to nobody

[2014-09-02 15:02] schoffelen opened #64 "compare MEG response to audio and visual input"
As discussed during today's (20140902) meeting with Annika and Julia, I will push the comparison between the audio and visual results.

First step to take is to ensure that we have the data processed as far as possible according to the latest standards. It seems for the visual data that there's some stuff in Annika's folder on /project/3011020.09/ (but using time axes starting from -0.1 and ending

[2014-09-12 09:58] JuliaUdden opened #65 "Anatomy pipeline completion"
Once anatomy pipeline is completed (or rerun) for a subject, this thread should be updated, in order to inform the FMRI-analysis on which subjects needs to be run or rerun.

[2014-09-12 09:59] JuliaUdden opened #66 "Anatomy pipeline completion"
Once anatomy pipeline is completed (or rerun) for a subject, this thread should be updated, in order to inform the FMRI-analysis which subjects needs to be run or rerun.

[2014-09-12 12:42] #66 closed, assigned to schoffelen

[2014-09-12 12:51] schoffelen opened #67 "upgrade methods description"
I suggest to work inline in the documents on:

https://nt10.mpi.nl/sites/Big-U/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FBig%2DU%2FShared%20Documents%2FHandout%20Workshop&FolderCTID=0x012000B7B8D9874E18F144BB5B81F5BCF6F64C&View=%7B9E8F4319-6591-4EAF-B9C6-9AEA5DE8D706%7D

History is tracked (I assume) so no need to create new documents. I started working in the MEG document.

[2014-09-18 09:29] annhul opened #68 "megfmri analysis"
Since pulling of the updated mous and ft versions of the interpolation functions, the out put (= fmri data interpolated to the cortical sheet used for mne:s) no longer has the field "anatomy" , but a new field named "pow" has the same dimensions and similar values. Are these the same? @schoffelen

[2014-09-24 07:43] schoffelen opened #69 "implement functionality to do a statistical comparison across groups divided according to genotype"
As discussed, we will start with CNTNAP2. Genotype information is present. I have created a matlab-structure that can be used to match subject ID with genotype.
I plan to write a rather generic function to be able to do statistics on a comparison between genotypic groups for single condition or contrast data (MEG), both for oscillatory and time-domain responses.

[2014-09-24 12:34] #14 closed, assigned to nihll

[2014-09-24 12:56] #59 closed, assigned to nihll

[2014-09-24 12:56] #47 closed, assigned to nihll

[2014-09-25 10:03] #19 closed, assigned to nobody

[2014-09-26 07:41] #33 closed, assigned to annhul

[2014-10-10 08:14] annhul opened #70 "Fall workshop"
Planning the program etc for the Fall workshop

[2014-10-17 09:54] schoffelen opened #71 "apply kcca to meg erf versus oscillations"
The approach will be quite similar to the meg-erf fmri kcca.
I would like to get this started soon and suggest that @nihll pushes this with @schoffelen, in consultation with @amarquand

[2014-10-17 09:55] schoffelen opened #72 "apply kcca to meg oscillations versus fmri"

[2014-10-22 10:37] #65 closed, assigned to schoffelen

[2014-10-22 10:39] schoffelen opened #73 "Decide on the final set of Auditory subjects"
We now have 103 subjects for the audio condition. Please make a final informed decision about whom to throw out of this pool.

From the MEG point of view I would consider throwing out a subject which has a relatively high amount of data rejected due to artifacts.

I could imagine that another criterion would be based on the balancing of the different scenarios used.

[2014-10-23 10:42] #73 closed, assigned to nobody

[2014-11-04 08:24] schoffelen opened #74 "provide a framework for consistent visualization of results"
To get a more or less state-of-the-art visualization of the results, it was agreed at Nov 3 to present the (cortical) results on the non-inflated cortical sheet. For the MNE data this comes quite naturally, for the oscillations MEG and fMRI data, some work needs to be done.
JM's suggestion was to use HCP workbench for visualisation. Advantage: state-of-the-art, uses openGL graphics for slick displ

[2014-11-04 08:28] schoffelen opened #75 "do a new iteration of parcellation of oscillation results"
As discussed on Nov 3, 2014, to make sense of the beamformer results, the spatial clusters need to be broken up in smaller (functional) units. It was discussed to go back to a parcellation scheme, and do the statistics in time bins. Contrary to what was stated, we don't have yet the same parcellation scheme in volumetric space as we have them in surface space. The conte69 atlas based sub-parcellat

[2014-11-05 15:49] schoffelen opened #76 "MEG versus fMRI comparison: explore different approach"
As discussed Nov 5. Probably the fact that the MEG-MNE versus fMRI yields not so many results is probably due to the discrepancy in the time-resolution/the fact that the BOLD signal picks up also the non-timelocked stuff. It was decided that we should investigate this in a more consistent way, i.e. by focussing on the non-timelocked data for MEG.

[2014-11-05 15:54] schoffelen opened #77 "MEG connectivity analysis"
As discussed Nov 3:
-pre-select regions of interest (core language regions + A17/18/19 + A7/39/40) and edges between them
-do statistics early/late-sent/list
-theta/alpha/beta
-pre-select subjects for gamma?

[2014-11-05 15:56] schoffelen opened #78 "Sentence progression effect for audio data"

[2014-11-06 10:56] nihll opened #79 "cortical - audio coherence"
Explore the relationship between the cortical signal (oscillations) and audio signal
1) calculate coherence between the cortical signal and the speech envelope at the source-level
2) amplitude-amplitude coupling between cortical regions showing a coherence to speech envelope

[2014-11-10 20:05] #60 closed, assigned to annhul

[2014-11-11 08:53] #24 closed, assigned to nobody

[2014-11-11 09:52] #4 closed, assigned to nihll

[2014-11-14 12:19] #74 closed, assigned to schoffelen

[2014-11-14 12:19] #58 closed, assigned to nobody

[2014-11-17 08:19] schoffelen opened #80 "do a new iteration of parcellation of mne-erf results (visual)"
As discussed in the 2014 fall workshop, in order to pinpoint more the spatial location of the effects we should re-attempt the statistics based on a parcellation. For consistency, we will use the conte69 subparcellated Broadmann area atlas.

To do:
-revisit the parcellation step: this is an explicit step that needs to be done prior to doing the statistics, i.e. don't rely on ft_sourcestatistics do

[2014-11-24 10:27] #70 closed, assigned to nobody

[2014-11-24 10:30] #18 closed, assigned to annhul

[2014-11-24 15:56] JuliaUdden opened #81 "VBM"
I tested the whole brain T-contrasts AT+TT > AA and AA > AT+TT in a 2nd level model provided by Tulio. The model includes gender, age and scanner field strength (3T or 1.5T).
- There were no results for AT+TT > AA.
- The contrast AA > AT+TT generates the following, thresholded at p < 0.001 uncorrected:
  ![nsmail](https://cloud.githubusercontent.com/assets/1863281/5167706/403aff90-73fa-11e4-9a77-7

[2014-11-28 08:23] schoffelen opened #82 "implement an analysis framework that links computational model output to the electrophysiological data"
As per the following e-mail discussion:

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Dear all,

Today I had a meeting with Antal van den Bosch, who has developed methods
derived from information theory to characterize sentences and sequences in a more
formal way.

Now that we have all the data, the next step is to characterize our stimulus materials
in a more quantitative an

[2014-12-01 16:59] nihll opened #83 "Adjust oscillations (bfica) pipeline to try to improve SnR for gamma results"
There are two approaches for improving SnR in the gamma analysis:

1.  Don't remove ECG at the start of bfica pipeline.   Using the ECG to remove low frequency components, can also lead to adding noise at higher frequencies, therefore, we will not use the "remove ECG" step in the pipeline

2. Compute spatial filters from baseline to 0.5s  (non time varying filter), as opposed to a unique spatial f

[2015-01-05 08:10] schoffelen commented on #82
I manually corrected the sentence material, according to my understanding of syntactic trees. This meant that the majority of the sentences needed to be corrected, unfortunately. TODO: let peter or antal check a few of these, to see whether I did it right.

I started working on the following condition definitions:
-for sentences: a word pointing to its (local) syntactic head further away in the se

[2015-01-05 08:11] schoffelen commented on #77
At this point in time, I think that I should recompute the results based on the dependency contrast, rather than based on early-late, sent-seq.

[2015-01-05 08:29] schoffelen commented on #78
Perhaps for discussion: I don't currently think that the sentence progression effect is the best effect to go for, at least not the way we are currently using it in the per word visual data. The main motivation for this would be that it seems as if the first few words drive the 'effect' for the visual condition. Perhaps the dependency effect contrast is a more meaningful one to test in this contex

[2015-01-05 08:30] schoffelen commented on #64
TO DO:
~~-process all audio subjects as far as possible with mous_preprocessing_pipeline (-02-10)~~
~~-process all audio subjects with mous_erf_pipeline for main effect, + separate allwords, firstword and targets.~~
~~-process all visual subjects with mous_erf_pipeline for main effect for firstword and targets only (not all words).~~

[2015-01-06 09:35] schoffelen commented on #48
It seems the RA have more or less finished the job for the sentences. I have asked them to continue with the word lists.

[2015-01-06 09:36] schoffelen commented on #48
continue this issue on #78

[2015-01-06 09:36] #48 closed

[2015-01-06 09:36] schoffelen commented on #78
TODO @ dependency contrast:
~~-copy the textgrid data from the RA~~
~~-create functionality to read in the text grid data~~
-create functionality to chop up the audio sentences into words.

[2015-01-07 14:25] schoffelen commented on #78
TODO @ dependency contrast:
~~-copy the textgrid data from the RA~~
~~-create functionality to read in the text grid data~~
~~-create functionality to chop up the audio sentences into words.~~ -> mous_auditory_chop, as called in mous_erf_pipeline with doerf_auditory_chop

[2015-01-08 19:56] schoffelen commented on #83
@nihll based on your verbal report these things did not make an appreciable difference. Would you want to show me some results of the comparison, or are you happy to close this issue? Perhaps it is good to document your findings (does not need to be long) here.

[2015-01-08 19:56] schoffelen commented on #80
What is the status of this?
Is there an estimate of when this will be finalized @annhul ?

[2015-01-08 19:57] schoffelen commented on #67
I guess that this one can be closed? Feel free to re-open if you think it should be

[2015-01-08 19:57] #67 closed

[2015-01-08 20:00] schoffelen commented on #75
The new issue referred to is #83 .

@nihll I guess that this issue can be closed as well. It seems that the bottom line is that overall the story will not change much from when looking at the original volumetric non-parcellated results. It has been decided that Nietzsche is going to finalize her thesis chapter using those analyses, with visualization on the cortical sheet using workbench.

Perhaps

[2015-01-08 20:06] schoffelen commented on #76
I am currently trying to pull something out of the sent-seq contrast for fMRI and MEG-oscillations combined, using kcca. This involves input by andre and is work in progress

[2015-01-08 20:09] schoffelen commented on #82
After thinking this over I think we should classify the words according to whether they are open or closed class. Laura has marked all stimulus material, and @nihll has some code to read it out of the excel file.

TO DO:
- @nihll make this code available in git and ensure that it works for everyone.
- identify the auxiliary verbs and treat them as a special class.
- stratify the above comparisons

[2015-01-09 12:05] nihll commented on #83
-	Action point #1:   do not remove EKG signal  (only necessary for connectivity analyses)
-	Action point #2:   calculate a non-time-varying spatial filter
-	For both actions points, Nietzsche also tried using a modified version of the t-test which is less sensitive to outlier
o	None of the approaches improved the results  (stat.stat is different for the 2 approaches)
	Keeping EKG:  40-68Hz  p  =

[2015-01-09 12:05] #83 closed

[2015-01-09 12:05] nihll commented on #75
Action point  #1: try the parcellation scheme
Action point  #2: use workbench to visualize results

•	Average across relevant time bins prior to interpolation
•	Interpolate volumetric data (5782 voxels) into cortical sheet (8916 vertices)
•	Parcellate cortical sheet results
•	Perform statistics
        Using FieldTrip, the main parameters used were
         	cfg.method = ‘montecarlo’
         	cfg

[2015-01-09 12:06] #75 closed

[2015-01-09 12:19] annhul commented on #80
On the final stretch, data seems to be in place just need to run stats, and if not significant, redo them on a subselection of parcels.

[2015-01-21 15:40] nihll commented on #25
The results are finalised, this analysis is complete.
pipeline implementation: mous_bfica_pipeline using the sections 'doecg', 'dodss', 'dofreq' and 'dosource_contrast'
Also required: mous_bfica_sourcedata_combinefreq to combine all frequencies within one range (low, medium, high) into a file
single subject results computation: all subjects run using the same pipeline above, and stored in /project

[2015-01-21 15:40] #25 closed

[2015-01-22 09:56] schoffelen commented on #82
TO DO:
~~- @nihll make this code available in git and ensure that it works for everyone.~~  -> has done this
- identify the auxiliary verbs and treat them as a special class.
- stratify the above comparisons (see the other comments) according to word class, OR use the open class words only

[2015-01-23 12:50] annhul commented on #80
This is done completed for a review of the end results see my notebook on the Big-U page. Especially for  the sentence progression not a lot was significant after mcc, no matter how I looked at it. The t-values were nevertheless in many cases above +/- 3 which in my experience is typically quite high. Perhaps this indicative of that the distribution is not normal??

[2015-01-23 13:11] schoffelen commented on #80
Shall we keep the issue open until it is discussed (as a reminder that we should)?

[2015-01-23 13:13] annhul commented on #80
sure

[2015-01-26 15:56] JuliaUdden commented on #11
Timebin results are present in /project/MRI/V1XXX/mri_task/ffxstats_TimeBins

[2015-01-26 16:13] JuliaUdden commented on #11
Here is the code of the con images. For the corresponding contrast of the 'LateVsEarly'-MEG oscillatory analysis of all sentences, use con 42 - 'SentencesParametric' for a [-2 -1 1 2] linear contrast over the four timebins. Con 41 'Sentences_4vs1' is a [-1 0 0 1] contrast over the timebins, so that might in principle be even closer to the MEG contrast.

con	image	1	-	'Sentences_1'
con	image	2	-	'S

[2015-01-26 16:15] JuliaUdden commented on #11
I am here attaching a picture of the Con 41 'Sentences_4vs1' over the conjunction of the visual and auditory samples as well, since I think these group level results look similar to the group level results in MEG (beta-band) presented today.
![sentences4vs1](https://cloud.githubusercontent.com/assets/1863281/5902922/db25248a-a57e-11e4-9517-0f7f69481678.png)

[2015-01-27 07:04] schoffelen commented on #82
@JuliaUdden @nihll @annhul there is now a directory in /project/3011020.09/MEG: misc that I created to contain general purpose data for the analysis. It now contains a file mous_stimuli, which is a struct-array (1 struct for each of the stimuli), that contains basic information about the stimuli.

[2015-01-29 12:47] JuliaUdden commented on #74
The path to wb_view changed to from hcp-workbench_1.0 to hcp-workbench/1.0, hence use:

export PATH=$PATH:/opt/hcp-workbench/1.0/bin_rh_linux64
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/hcp-workbench/1.0/libs_rh_linux64

[2015-02-11 11:29] annhul commented on #21
@schoffelen you made a "bugfix" in the mous_erf_pipline stating that the triggers were swapped between rc and mix, but I had another look at the presentation code and triggers 1-4 are RC and 5-8 are mix (granted the comments for the seq are misleading, but the code is correct). Logic of the code and stimuli goes as follows
RC sentences are stimuli # 1-204 they have trigger 1,2
MIX sentences are st

[2015-02-16 15:19] schoffelen commented on #21
Discusse (16 Feb): it seems to be a non-issue. The code seems correct

[2015-02-18 14:52] annhul commented on #21
@schoffelen I get the following error when trying to rerun the rc/mix allwords with mne do_main:

Too many outputs requested.  Most likely cause is missing [] around left hand side
that has a comma separated list expansion.

Error in mous_mne_pipeline (line 171)
      lf   = sourcemodel.leadfield{indx};

I get what the error is (the indx is zero at those locations that we are not using) but I don'

[2015-02-18 15:08] schoffelen commented on #21
This is due to a recent change in FT, see http://mailman.science.ru.nl/pipermail/fieldtrip/2015-February/008903.html
I have updated the code (but did not test it).
Please git pull and try again (and keep your eyes open for other occurrences of this issue).

[2015-02-18 15:21] annhul commented on #21
Did a git pull and got a new error:
Error using  +
Not enough input arguments.

Error in mous_mne_pipeline (line 224)
    mom = (source.avg.mom{source.inside(k)} +
    source_seq.avg.mom{source.inside(k)})./2;

[2015-02-18 15:51] schoffelen commented on #21
Same cause.
Fixed it.
Please pull and be inspired by the way it was fixed (so that you can do it yourself if you get stuck).
Going offline now.

[2015-03-10 08:51] schoffelen commented on #69
It seems that there is consensus that NOW it's OK to start looking at this again, although some first want to establish a relationship between MEG and fMRI, because any correlation between genetics and MEG is deemed stronger. Just typing this as a reminder that the basic machinery (code) to test relations between MEG and genetics is almost in place.

[2015-03-10 08:56] schoffelen commented on #82
I pushed a function to mous/meg/trialfun, called mous_stimuli_addstack, it basically uses (cleaned up) code from Julia, that adds information with respect to a 'push-down stack' to the stimuli struct-array. I don't fully understand the philosophy yet. I updated the stimuli file on /project/3011020.09/misc
Note that I renamed some of the fields as named by Julia, because I think this would make sen

[2015-03-10 08:59] schoffelen commented on #82
As another update, there has been a meeting with Antal yesterday, and the outcome was that my initial division of individual words, based on forward vs. backward pointing dependencies was not so stupid after all. The refinement here is that it does not make sense to look at the forward pointing words, because the brain does not know yet whether it will be a word with a long or short dependency.
Ma

[2015-03-10 09:04] schoffelen commented on #82
To be sure that the relevant other people are reading this: @JuliaUdden @annhul @nihll I explicitly now add you to this issue :-).

[2015-03-10 09:31] JuliaUdden commented on #69
We should not run associations without having discussed which associations
exactly, in which order, etc. at the MOUS meetings or workshop. However,
what we can do is to do literature search to build up an argument for doing
a particular MEG-candidate gene association, independent of the FMRI-MEG
results. The four paragraph subheading 'Dysfunctional oscillatory
processes' in the Poeppel and Giraud

[2015-03-10 09:50] schoffelen commented on #69
Could you then please bring the discussion to a point that we actually can make decisions about this? For the past 3 years it has been discussed on and off, but nobody seems to really enforce some executive decision. If we continue in this vein, i.e. hitting the brake each time and mentioning that 'something should be discussed' without taking further action up until the point that a decision has

[2015-03-10 10:27] JuliaUdden commented on #82
Note that I have only so far debugged the code for one sentence. I send the
code more to show the philosophy. The philosophy will probably become more
clear in Wednesday's presentation and also when I get around to write a
paragraph on the approach. Thanks for the maximum stack depth histogram! I
will show it on Wednesday. To get an overview of the global measure per
sentence, it will also be good

[2015-03-10 10:31] schoffelen commented on #82
For further development of the code, please work on the version in the git repository, and not on your local copy.

[2015-03-10 10:42] JuliaUdden commented on #82
I looked at the code now - really clean, thanks! Will study it line by line
later. I also saw your question on the implementational choice of pushing
the word vs pushing the depind.I am actually using depjump instead of
depind in the computation, so in principle, as the code is now, the words
could be pushed and that would be more intuitive. I can however imaging
that if we want to change the mode

[2015-03-10 10:47] schoffelen commented on #82
We can worry about exact implementation details later. Do you have a literature reference for dummies that I could look at?

[2015-03-10 11:02] schoffelen commented on #82
I added the computation of a histogram for the ordinal word position where the stack_depth is highest

[2015-03-10 11:06] JuliaUdden commented on #82
Not really, this one is the closest I can think of at the point:
http://www.ncbi.nlm.nih.gov/pubmed/22452530 . Right now, the model does not
include a real stack, but a random access memory, but it is prepared to
also be able to test a model where there is one or several real push down
stack(s),

On Tue, Mar 10, 2015 at 11:47 AM, schoffelen <notifications@github.com>
wrote:

[2015-03-10 13:11] annhul commented on #69
I thought it was were clearly discussed at the December meeting: the visual  erf main effect sentence vs list is significant after mcc and will be used as a genetic phenotype (said Simon). Before testing, I will evaluate whether it also correlates with fMRI (As instructed by Peter). Depending on if it does or not, we will decide which snp for group the particpants by (says Annika). The fmri-meg co

[2015-03-10 13:14] annhul commented on #69
And to clarfy further, what has been given green light (as I understood it) is to test the parametric stuff in fmri as a cntnap replication (= the so called Tinike-Julia paper) but that is now considered a separate study and the tests there will not affect MOUS, yes?

[2015-03-10 14:15] JuliaUdden commented on #82
Thanks! I pulled now again but I got the answer that there were no updates,
so I can't find the ordinal word position histogram right now. Am I missing
some github-related knowledge perhaps?

On Tue, Mar 10, 2015 at 12:06 PM, Julia Uddén <julia.udden@gmail.com> wrote:

[2015-03-10 14:17] schoffelen commented on #82
nope; my bad. I forgot to git push. Did so just now. Please pull again.

[2015-03-11 13:33] JuliaUdden commented on #69
I think the first message by Annika is a good plan, thanks for the
clarification. I would like to make a clarification on how I understood the
topic in the last message. I think we are still working in a staged way for
the functional paper, first figuring out how to report the replication
study. The next step there is that I will send the final MOUS results to
Tineke and then I anticipate that she

[2015-03-13 10:10] annhul commented on #68
@schoffelen Theoretically, should I be able to use the mous_mne_parcellate(source, tlck, parcellation, varargin) so parcellate the fmri interpollated to the cortical sheet in a similar way as we parcellate the mne results? That is, provided I account for the lack of time axis and discrepancies in field names etc., would it be ok to use a pca approach to get one value for each parcel?

[2015-03-13 10:57] schoffelen commented on #68
No, PCA cannot be used for fMRI data, because there's no dimension (time) to use for the PCA. The only thing I can think of would be to average across vertices per parcel.
ft_sourceparcellate should do this for you, once you have the fMRI onto the cortical sheet

[2015-03-13 12:06] annhul commented on #68
Ok. Lauri also suggested (during lunch) that we could apply the meg-derived pca projection to the interpollated fmri data. How do you feel about that?

[2015-03-16 07:58] schoffelen commented on #68
I don't see a real advantage in this (beyond averaging). Note that the interpolated fMRI data already has been massively 'smoothed' relative to the original data.

[2015-03-17 19:07] annhul commented on #68
@schoffelen
The command
 ft_read_mri(file, 'dataformat', 'analyze_img');
no longer works when I try to read in the fmri data, however the using
ft_read_mri(file, 'dataformat', 'analyze_old');
works just fine. Yet, the help on this 'anlyze_old' option is a bit cryptic  "uses Darren Webber's code" which doesn't help me one way or another. Can you quickly confirm that "analyze_old" is indeed the opti

[2015-03-17 19:11] schoffelen commented on #68
I need a bit more to work with. Has the FieldTrip code changed? Are you trying to load in different data? What has changed since last time you tried it?

[2015-03-17 19:19] annhul commented on #68
I don't remember how the ft code looked when I used this code in the fall but using the the same data and the same command as before ft_read_mri(file, 'dataformat', 'analyze_img');  (where file = '/project/3011020.09/MRI/V1001/mri_task/ffxstats/con_0013.img') I get the following error

Error using  *
BLAS loading error:
dlopen: cannot load any more object with static TLS

Error in nifti/subsref>re

[2015-03-17 19:21] schoffelen commented on #68
Could you please restart matlab with minimal path settings, just addpath('/home/common/matlab/fieldtrip'), followed by ft_defaults, and add the path to MOUS (with subfolders) and try again? It's a low level matlab issue that seems to be solved by my suggested fix.
Don't change the code please.

[2015-03-17 19:32] annhul commented on #68
Yup, that seemed to do it. Now it is running without having to change any code. Thanks for your quick reply :)

[2015-03-25 16:09] nihll commented on #69
Reasons for not testing for variation in the MEG sample have been "there's only a limited number of SNPs that we can test" and "we have a small sample size for genetics". Well, we knew that from the beginning, so that's not particularly helpful now.   So, I think what Julia said a few comments ago makes sense " a literature search to build up an argument for doing a particular MEG-candidate gene a

[2015-03-25 19:52] JuliaUdden commented on #69
Annika has fmri-meg results and is working on the genetics literature
search, with some more info from me. Any literature search will be
strongest if made on the genes, and even SNPs we've already typed. I will
send around this info in an email tomorrow. If necessary for coordination
around this issue, perhaps Nietzsche can join our skype meeting next Monday
(which will probably be in the morning

[2015-03-26 06:32] schoffelen commented on #69
I cannot do 10 I have to teach. I suggest to do 14.00. Annika indicated that she could make it at that time.

I don't understand this sentence: "Any literature search will be
strongest if made on the genes, and even SNPs we've already typed"

[2015-03-26 07:42] annhul commented on #69
I disagree with Nietzsche, for the reasons not to test for genetic variation in the MEG sample. The main reason for having waited with the genetic analyiss, is that we have not found a stable, stat. sig. phenotype in MEG. Now that we have a potential phenotype (sent vs seq main erf), Simon already said in the fall that we should move fwd. I will present this and the details related to the planned

[2015-03-26 08:53] nihll commented on #69
Okay, well I do not recall the sent vs. seq main ERF having been given the green light for genetics last fall, and nothing about it has been updated in the meetings since then.... I look forward to seeing the results!

@annhul / @JuliaUdden, can you guys share the list of potential SNPs with me? The one I have from Julia is quite old.

[2015-03-26 09:08] annhul commented on #69
The list depends on which analysis/paper we are talking about. You will hear everything in the workshop together with everyone else. The genetics part, as far as I am aware, was not planned to be part of your PhD. But off course, if you find a stable and reliable oscillatory response, you can suggest and motivate genetic contrast for that. The important part for you is now to focus on your chapter

[2015-03-26 09:16] schoffelen commented on #69
Why wait until the workshop?

[2015-03-26 09:20] annhul commented on #69
Cause I haven't finalized it yet :) And I want to make a proper argument and not drop unconnected snippets of data/arguments. What's with the pressure? Don't you have your own stuff to worry about?

[2015-03-26 09:57] nihll commented on #69
We tend to always wait until the workshop, and it the past the following has occured: One of us has an idea, and the other's support is, but the other's weren't prepared to see these results so they can't support it well enough. This leads to the idea being shot down, despite being a good idea. Then we have to try and present the idea X number of times until it gets approved.  I'm more in favour o

[2015-03-27 08:05] schoffelen commented on #77
Short update as a note to self:
-stick to the current conditions for the time being: sent-seq early-late
-computed GC after time direction reversal, i.e. conjugation of the cad-matrix, implemented a statistical test to evaluate (across the population) GC(a-to-b) versus GC_reversed(a-to-b). Test results are in /project/3011020.09/jansch/20150304_granger
-visualization of results based on /project/3

[2015-03-27 08:06] schoffelen commented on #35
It does not seem as if anybody is following up on this, so closing.

[2015-03-27 08:06] #35 closed

[2015-03-27 08:15] schoffelen commented on #77
Subjects that seem to have missing (reverse)-granger are V1006,V1062,V1085,V1089,V1090,V1109.
Intermediate to do:
-first fix V1006 and V1090, then the rest.

[2015-03-28 20:01] schoffelen commented on #77
Subjects that seem to have missing (reverse)-granger are V1006,V1062,V1085,V1089,V1090,V1109.
Intermediate to do:
~~-first fix V1006 and V1090, then the rest.~~

[2015-03-31 12:17] annhul commented on #68
I tried interpolating an img file that is masked for a certain roi, i.e. all voxels outside the roi are zero and only the voxels inside the roi have beta values. The intepolation skript works fine (though I am not sure I have the trans file for the meg sheet correct as this img file is group level as far as I know) but the end results is only zeros. None of the roi's data remains. I also tried to

[2015-03-31 12:44] schoffelen commented on #68
As usual, I don't have any ideas unless there is something to work with

[2015-03-31 12:50] annhul commented on #68
Sorry offcourse. The img file is '/project/3011020.09/annhul/temp/SWAAAT_200.img and I am using most of the code from mous_crossmeasure data (except I circumvent the output file part on line 82). I used the 'meg_processed_{_mne_allwords_02-nextword_sent}' as a megsheet from a random subject. The logic being that mous_crossmeasure data transforms the sheet to standard space any way...but yes this m

[2015-03-31 13:30] schoffelen commented on #68
I don't know what is going on inside mous_crossmeasure, but the images need to be in the same space when you want to interpolate them. Using a subjects specific cortical sheet and the SWAAAAAAAAAAT_200.img in standard space is likely to fail due to a mismatch in the coordinate systems. Perhaps it's useful to look up how the interpolation of the fMRI data works onto the cortical sheet and take it f

[2015-03-31 14:05] annhul commented on #68
mous_crossmeasure does exactly that, i.e. tries to match of the coordinate systems and then interpolates the fmri data to the cortical sheet. It works on singel subject level, but the problem is I don't know what coordinate system the swaaat file is in.

[2015-04-01 09:42] schoffelen commented on #77
TO DO:
~~-check with @amarquand to find a way to validate the outcome of the n/f~~ , there does not seem so much to check: I can try out the stability of the factorization based on random subsets of subjects, which according to Andre is pretty much state-of-art.
-threshold the individual ROI data with the (uncorrected) of the statistical test described earlier.
~~-fix the issues for the subjects t

[2015-04-01 13:14] annhul commented on #68
Would you do me a favor and do a git pull an then run the code below. You will see that the interpolation result id something that resembles Klingon war paint. I guess the coordinate systems are off, but this is exactly the same code as I used in the fall for the interpolation and then it worked fine :P

clear all
subjectname = 'V1054';
param.ffxpath   = '/project/3011020.09/MRI/V1054/mri_task/ffx

[2015-04-01 13:42] schoffelen commented on #68
I don't know about mous_crossmeasuredata, but when doing the interpolation with the appropriate function (in its latest git version) mous_fmri_3dto2d it seems to work just fine (using 'nearest' as the interpolation method). The sphere_weighteddistance yields strange results, so I suspect an interpolation issue, rather than a mismatch in coordinate systems.

[2015-04-01 13:48] annhul commented on #68
mous_crossmeasure data boils down to
ft_sourceinterpolate(cfg, mri, meg);

where mri is the mri matrix and meg matrix is transformed from individual space to normlized mne space... you helped out quite a bit to get a the fr_warp_apply's working. I have no recollection of a mous_3dto2d function...have we reinvented the wheel?

[2015-04-01 15:28] annhul commented on #68
I tried mous_3dto2d it ran without glitch but the output was identical. See figure.
![interpol](https://cloud.githubusercontent.com/assets/1788169/6944537/e6160d68-d89c-11e4-8c1e-89f3416b1b10.png)

[2015-04-02 08:09] schoffelen commented on #68
![screenshot](https://cloud.githubusercontent.com/assets/1517611/6960155/59b187f6-d920-11e4-9e33-315b22027493.png)

Nice! My version looks like this. Have you git pulled before running mous_fmri_3dto2d?

[2015-04-02 08:12] annhul commented on #68
Mine is not nice at all! That is the problem. It looks like it has the measles, and the one I did in the fall looked like yours (for the same data! )

[2015-04-02 08:52] schoffelen commented on #68
Since I cannot reproduce the problem, the ball is in your court. What's your suggested action plan to solve this?

[2015-04-02 10:06] schoffelen commented on #68
You're welcome

[2015-04-02 10:08] annhul commented on #68
Thanks! May the Easter bunny brings you loads of chocolate!

[2015-04-03 10:05] annhul commented on #68
If you have a minute at some point, could you give me advice as to why subject V1058 won't interpolate.
Code and error below. All other subjects ran smoothly.
subjectname = 'V1058';
ffxinput      = 'con_0014';
fmrioutput    = 'meg_megmri_{sentVSseq_interpol}';
file = ['/project/3011020.09/MRI/' subjectname '/mri_task/ffxstats/' ffxinput '.img'];
mri        = ft_read_mri(file, 'dataformat', 'analyz

[2015-04-03 11:02] schoffelen commented on #68
as per the error message's suggestion there is 'non-integer' indexing used in the call to sparse(). The likely culprit is the 'ind' vector, which indeed seems to contain NaNs. This can be led back to the pos2d_sn variable in mous_fmri_3dto2d, which apparently misbehaves. pos2d_sn is created by spatially normalizing the vertex positions in the cortical sheet, using the spmparams.

So far for the ca

[2015-04-03 12:20] schoffelen commented on #77
Hmmm, thresholding the ROI data will be a bit ad-hoc, since there's not a good way to determine a threshold I think. What I came up with now /project/3011020.09/jansch/scripts/analysis20150403_granger.m is to take the subselection of edges-of-interest that have >10 frequencies with a p-value < 0.0001 (and with a G - G_rev > 0 !)
This yields about 4600 edges.
Next, I use this for nmf, where I now t

[2015-04-06 09:24] annhul commented on #68
@schoffelen As far as I can make out from mous_mne_pipeline the do_mneparcellate is based on the power not the dspm, but if want to use the dspm values in the fmri-meg comparison on the parcel derived roi's, how would I go about changing the parcel data to dspm? Does it make sense apply the noise covariance to the pca-component of each parcel? Intuitively that does not sound quite right. The other

[2015-04-07 11:25] annhul commented on #68
@schoffelen Would it make sense to to the baseln noise normalization (= dividing with the SD) on the stat field from the parametric analysis as well. Not sure how to think about dspm when it comes to tangents but  I guess it could be done.

[2015-04-07 12:39] JuliaUdden commented on #68
Sorry to switch tracks here. Based on earlier discussions with Annika, JM
and Andre, I have looked into the sawtooth analysis again, in particular
with respect to what happens in the case of shared varience between the
boxcar and sawtooth regressors.

To start with, this might not be a big problem, due to the following:
The design matrices and SPM.mat files are available in each subject folder,
e.

[2015-04-07 13:17] JuliaUdden commented on #68
Similarly to the rest of the FMRI-analysis, the contrasts were specified at
the first level and can be inspected with the GUI. I used subject V1117.

The basic patterns of the contrasts can be seen in (nb, contrast before
name)
/project/3011020.09/hubfon/code/fitMOUSLinearIncreaseProjectSpace.m

conVecOrg{1} = [1 1 0 0 0 -2 zeros(1, 8)]';
nameContrast{1} = 'ZinnenLTIBI';
conVecOrg{2} = [1 1 -1 -1

[2015-04-07 13:22] annhul commented on #68
What goes into the meg-fmri analysis (in my analysis) is basically the MNE output as specified in the methods hand-out.

[2015-04-08 08:05] schoffelen commented on #82
@JuliaUdden still suffered from the fact that the dependency indices of stimuli 248 and 266 did not yield a 'valid' tree as defined with the matlab-function treeplot. Although I don't need it for my analyses at the moment, I have updated mous_stimuli to the best of my knowledge, so that none of the stimuli now causes treeplot.m to choke.

[2015-04-08 08:45] schoffelen commented on #68
This is an answer to Annika's noise normalization question: Yes, one could scale the beta weights that reflect the slope of the linear fit. The question is, what data to use for the normalization. I wouldn't go for the standard deviation of the beta weights, but rather for the standard deviation of the activity.

[2015-04-08 08:57] JuliaUdden commented on #82
Thanks for a fast response.

On Wed, Apr 8, 2015 at 10:05 AM, schoffelen <notifications@github.com>
wrote:

[2015-04-08 09:35] annhul commented on #68
Thanks! What part of the activity would you suggest? The average baseline period before each word, the pre-sentence baseline, the power across the entire sentence (baseln + words) ?  I suppose it doesn't make that much of a difference what I choose, but your opinion is valued, since I have none...

[2015-04-11 19:44] annhul commented on #64
@schoffelen
Do you have group level statistics for the auditory target words I could look at? I tried to run
rootdir = '/project/3011020.09/MEG';
[subj,s] = setdiff(mous_db_getfilename('allA','subjectname'), mous_db_getfilename('bad','subjectname'));
[f,exist_data] = mous_db_getfilename(subj,['meg_processed_{_mne_target_02-10_sent}'],0 , rootdir);
subj   = subj(exist_data);
Nsubj   = numel(subj);

[2015-04-15 10:55] annhul opened #84 "ft_sourcestatistics"
ft_sourcestatistics does not recognise the event-related mne' as source level data or something along that line @schoffelen

[2015-04-16 05:32] schoffelen commented on #84
error occurs in ft_selectdata (getselection_pos), because 'not implemented'
-file bugzilla bug
-upload some test data
-fix it
-report it here.

[2015-04-16 05:34] schoffelen opened #85 "make a generic function that stratifies data for lexical frequency"
As discussed during the spring 2015 workshop. NOTE to self: recycle some code that has been used in mous_erf_pipeline (doerf_auditory_chop_earlylate)

[2015-04-16 05:38] schoffelen commented on #84
error occurs in ft_selectdata (getselection_pos), because 'not implemented'
~~-file bugzilla bug~~
-upload some test data
-fix it
-report it here.

[2015-04-16 06:09] schoffelen commented on #84
error occurs in ft_selectdata (getselection_pos), because 'not implemented'
~~-file bugzilla bug~~
~~-upload some test data~~
-fix it
-report it here.

I created some test data, but cannot reproduce the bug, in other words: it just works for me. Can you check whether you used an up-to-date version of FieldTrip, and point me to the script that you used to produce the error?

[2015-04-16 07:25] annhul commented on #84
I use the ft version that I get by using
addpath /home/common/matlab/fieldtrip
ft_defaults
That should be the latest as far as I know.
The code that produces the error is
/project/3011020.09/annhul/analyses/analysis20150414_3.m

[2015-04-16 07:27] schoffelen commented on #84
And you are sure that you are not overloading the FT version from /home/common with a stale version that gets shipped with  SPM? :-)

[2015-04-16 07:32] annhul commented on #84
yes, I have commented out the entire spm part of my startup.m file. It only contains a ft path ft_defaults and some paths to my home dir. Have a look yourself ~/language/annhul/matlab/startup.m

[2015-04-16 07:32] annhul commented on #84
is matlab2014a a problem?

[2015-04-16 07:33] schoffelen commented on #84
I don't know, never worked with it

[2015-04-16 07:34] annhul commented on #84
I can try another version..which do you use?

[2015-04-16 07:38] schoffelen commented on #84
I typically use 2013b

[2015-04-16 16:33] annhul commented on #84
tried with matlab2013b but still get an error. I also double checked the ft version

/home/common/matlab/fieldtrip/utilities/ft_checkdata.m

/home/common/matlab/fieldtrip/ft_sourcestatistics.m

That is the path to the most recent ft right?

[2015-04-16 18:29] schoffelen commented on #84
Yes, it is. I'll have a look at it. (it could be that my turbo version knows something that the official version does not know).

[2015-04-17 09:45] annhul commented on #68
@JuliaUdden, just a reminder to make Peter's meta ROI's that I can project to the surface used in the MNE's

[2015-04-20 13:57] JuliaUdden commented on #68
I haven't forgotten about this, it just turns out that the full coordinates
are not reported in the Annual review paper.

This is the closest relevant passage: "Whereas the mean locations of the
activations reported for syntactically (mean y=-45.0,SD=7.7) and
semantically (mean y =-46.5, SD=5.9) demanding sentences did not differ
significantly in the rostral/caudal dimension,
the mean location of

[2015-04-20 14:07] annhul commented on #68
Sounds good, let's go with this.

[2015-04-20 14:17] JuliaUdden commented on #68
For instance, rounding off:
PMTG -50 -45 5
LIFG -45 20 10

On Mon, Apr 20, 2015 at 4:07 PM, annhul <notifications@github.com> wrote:

[2015-04-20 14:21] JuliaUdden commented on #68
.mat ROIs available in: /project/3011020.09/juludd/ROIs_MEG_FMRI_4Annika

On Mon, Apr 20, 2015 at 4:17 PM, Julia Uddén <julia.udden@gmail.com> wrote:

[2015-04-21 09:36] schoffelen commented on #85
OK, done.

I implemented a extract_lexfreq, and extract_earlylate, as well as mous_stratify. @nihll please see the code snippet below for how it can be applied:

L = log10(extract_lexfreq(data.trialinfo));
  [indx_early, indx_late] = extract_earlylate(data.trialinfo);
  T = data.trialinfo(:,2);

  cfg = [];
  indx1 = intersect(find(ismember(T,[1 2 5 6])), indx_early);
  cfg.trials = indx1;
  data_

[2015-04-21 09:36] #85 closed

[2015-04-21 10:51] annhul commented on #68
Not able to use the mat files as they are. @JuliaUdden could save them as img files instead (as we did with Tinke's roi). Thanks.

[2015-04-21 13:59] JuliaUdden commented on #68
Now there is a .img file for the current LIFG ROI in the same path. Let's
wait for Peter's response before I make the final ROIs, but as a 'proof of
principle' and also for you to see how large the ROI actually gets with 20
mm radius. By checking against anatomical landmarks, this size at least
covers the whole IFG. I am not sure how to reason wrt an optimized size of
a ROI, given the field-spread

[2015-04-22 07:54] schoffelen opened #86 "implement functionality to extract wordlength for an arbitrary set of trials"
do this in the style of extract_lexfreq

[2015-04-24 07:25] schoffelen commented on #86
extract_wordlength has been created and pushed to the git repo

[2015-04-24 08:11] schoffelen commented on #86
![screen shot 2015-04-24 at 10 09 05 am](https://cloud.githubusercontent.com/assets/1517611/7314990/1d64a94e-ea6a-11e4-86c9-2fc1335d6386.png)

Figure with distribution of word length. Based on this distribution I don't feel a strong urge to stratify for word length.

[2015-04-24 08:11] #86 closed

[2015-04-28 07:28] schoffelen commented on #84
I placed a version of your script that runs on /project/3011020.09, called analysis20150414_3JM.m
Could you remove it once you have copied it into your own directory?

[2015-04-28 09:36] annhul commented on #84
Done. Seems to work for me as well. Thank you.

[2015-04-29 13:56] annhul commented on #84
I get the same type of  error when trying to run group statistics on parcellated data using ft_timelockstatistics. That is the approach to go on with parcel data, no?

 As far as I can figure out timelock data is defined by the field labels and time, both of which I have added. You can (hopefully) replicate the problem by running /project/3011020.09/annhul/analyses/analysis20150429_1.m

[2015-04-29 14:00] schoffelen commented on #84
Big sigh.
What do you mean with 'I get the same type of error'?

[2015-04-29 14:04] annhul commented on #84
Sorry.
stat = ft_timelockstatistics(cfg, dat1, dat2);
Error using ft_checkdata (line 464)
This function requires timelock data as input.

Error in ft_timelockstatistics (line 82)
  varargin{i} = ft_checkdata(varargin{i}, 'datatype', 'timelock', 'feedback', 'no');

[2015-04-29 14:05] schoffelen commented on #84
can you please call the function as it should be called:

stat = ft_timelockstatistics(cfg,dat1{:},dat2{:});

This was the change I needed to make for ft_sourcestatistics to run, too.

[2015-04-29 14:11] annhul commented on #84
Well aren't you clever! Thank you! :)

[2015-04-29 14:12] #84 closed

[2015-04-30 10:52] schoffelen commented on #77
currently I am working on the following:
-define the connections in mous_edgesofinterest according to top-down vs bottom up
-run a MC-corrected statistical test on the GC versus reverse GC

[2015-05-01 12:52] annhul commented on #68
As you can see, this one works great! Can you do a similar img file for the temporal roi? Thank you
![screen shot 2015-05-01 at 15 51 06](https://cloud.githubusercontent.com/assets/1788169/7430312/f69d6b10-f019-11e4-87b5-764c9b48d2ab.png)

[2015-05-13 15:55] JuliaUdden commented on #68
Sorry for the delay, I was on vacation. The temporal ROI is there as well
now, as a .nii. The trick I used last time for this last part of the
conversion did not work this time, unclear why. I am sure you can convert
from .nii to .img easily, following the many suggestions in this thread:
http://www.researchgate.net/post/What_is_the_easiest_fastest_way_to_convert_nifti_files_to_img_hdr

On Fri, Ma

[2015-05-15 12:35] annhul commented on #68
Thanks! Also the temporal works nicely, like so
![screen shot 2015-05-15 at 15 34 03](https://cloud.githubusercontent.com/assets/1788169/7652722/0601f806-fb18-11e4-8fec-b03f1d792c57.png)

[2015-05-22 12:44] annhul commented on #68
@JuliaUdden  Can you make these ROI's with 10 mm radius as well please. I think that would be more optimal for the meg-fmri analysis. I will use these (20 mm) in the genetic tests.

[2015-05-22 13:34] JuliaUdden commented on #68
Now they are in the same folder as PMTG_10.nii and LIFG_10.nii

On Fri, May 22, 2015 at 2:44 PM, annhul <notifications@github.com> wrote:

[2015-06-03 12:25] JuliaUdden commented on #68
There are no significant results with the 10 mm pMTG ROI and the CNTNAP2
SNP, neither in the visual nor auditory FMRI-sample of sentences>word lists
(from 2.6 word an onwards). There are subthreshold result in the ROI,
FWE-corrected voxel p =0.10 in Auditory, p=0.17 in Visual. Both of the
subthreshold results are in the predicted direction (AT_TT>AA).

On Fri, May 22, 2015 at 3:33 PM, Julia Uddén

[2015-06-05 13:46] annhul commented on #68
@JuliaUdden  Could I get the values for the 10 mm roi (and also the 20 mm roi) for each subject? I would rather correlate there with the meg data as ther is no real need to interpolate the fmri  them to the cortical sheet if we use an roi approach. I I tried the interpolation approach quickly anyway (no sig correlations)  but just to  be sure, I would like to repeat it with uniterpolated data. (An

[2015-06-11 14:56] JuliaUdden commented on #68
I might have what you want from the 10mm ROIs now, in the same folder, for
the most relevant contrasts in the most basic first level model, where the
whole sentence and the whole word list are modeled, no timebins. We need to
discuss know which contrasts and which first level model is most relevant
for the FMRI-MEG comparison.

On Fri, Jun 5, 2015 at 3:46 PM, annhul <notifications@github.com> wrot

[2015-08-12 12:32] JuliaUdden opened #87 "Upload output from Gerard/Karin computational analysis of sentence complexity to mous_stimuli"

[2015-08-12 12:38] JuliaUdden commented on #87
An issue which complicates the uploading is that, for 20 of the 360 used sentences, Karin/Gerard's analysis considers two words as one word (e.g. "ten_einde" in sentence 4). This was not a problem for my fMRI-analysis, but know that we might use this for MEG where it matters that those word were presented separately, we need to change this. I bring this up with Gerard.

[2015-08-12 14:29] JuliaUdden commented on #87
Gerard has now answered that he/Karin are willing to redo the parse, separating all words in these 20 sentences. He has not specified a time for when he will be able to give us this.

[2015-08-21 10:33] JuliaUdden commented on #11
I have discovered that there must have been an issue during dicom conversion of V1097, since a few images where missing in the middle of the time series. The corresponding volumes in the raw-data where present, so I have now rerun dicom conversion and preprocessing and I am starting to rerun all single subject ffxstats for this subject.

[2015-08-24 11:54] JuliaUdden commented on #87
He has now specified that this will be done before the 2nd of September.

[2015-09-03 15:16] JuliaUdden commented on #11
Updated single subject ffxstats for subject V1097 is done.

[2015-09-04 18:29] JuliaUdden commented on #87
mous_stimuli.mat is now updated. Left and right-branching load were added as new fields below each word. Trees where updated by changing the depind of each word. Please note that only the 360 used sentences where used. Used sentences were defined by the following document: AllSentenceStimuliMOUS.xlsx in https://nt10.mpi.nl/sites/Big-U/Shared%20Documents/Stimuli/VisualStimuli/AllSentenceStimuliMOUS

[2015-09-10 17:29] schoffelen opened #88 "mous_write_cifti_dense: does not produce files that can be opened in wb_view"
I assume that this is what @annhul contacted me about by e-mail. I suggest to follow this up here

[2015-09-10 18:35] schoffelen commented on #88
I pushed an updated mous_write_cifti_dense. It should work now.

Please use some variants on the following code. Especially the scaling is relevant, because the wb_view developers have not considered the possibility that the numbers-to-be-plotted are very small.

##############################################################
load /project/3011020.09/annhul/results/Vis_group102_sentSeq_clusterstat.

[2015-09-11 07:39] annhul commented on #88
The matlab part works but I still haven't figured out how to display the created file in wb. What I have done so far is loaded the template spec file and with open file loaded the newly created surf.gii. However it is not in the overlays and in the Manage Data Files it is marked for display (and I don't know how to change this).
![screenshot20150911-1](https://cloud.githubusercontent.com/assets/17

[2015-09-11 08:06] schoffelen commented on #88
You don't necessarily need the surf.gii files. These only contain the topologies of the cortical sheet. You need to load in the dtseries.nii file. The wb_view manual (admittedly, it's a bit shitty) will probably be able to point you to how to visualize it further (hint: you need to check one of the boxes at the left of the 'overlay toolbox' panel (in the layers-tab, i.e. at the lower left of the f

[2015-09-11 08:23] annhul commented on #88
The wb_manual seems to be able to help me once I manage to the get my data into the overlays, which I currently don't know how to do. Open File and selecting the dtseries does not automatically put it in the overlays...

[2015-09-11 08:30] schoffelen commented on #88
![screen shot 2015-09-11 at 10 29 39 am](https://cloud.githubusercontent.com/assets/1517611/9810332/2d7aeaa4-5870-11e5-8fb9-2f8a249dddf8.png)

[2015-09-11 08:31] schoffelen commented on #88
![screen shot 2015-09-11 at 10 29 56 am](https://cloud.githubusercontent.com/assets/1517611/9810339/365181f6-5870-11e5-92e1-4ed0a29d9fea.png)

[2015-09-11 08:31] schoffelen commented on #88
![screen shot 2015-09-11 at 10 30 17 am](https://cloud.githubusercontent.com/assets/1517611/9810344/3d47126e-5870-11e5-970f-d69fb3fffca8.png)

[2015-09-11 08:31] schoffelen commented on #88
![screen shot 2015-09-11 at 10 30 34 am](https://cloud.githubusercontent.com/assets/1517611/9810348/46591604-5870-11e5-80c3-087c69c96c41.png)

[2015-09-11 09:47] annhul commented on #88
Works.

[2015-09-11 09:47] #88 closed

[2015-09-16 14:08] JuliaUdden commented on #82
I am looking for the total duration of the audio files, to use it in the auditory complexity fMRI analysis. I would like to clarify what the timinginfo in mous_stimuli, e.g. stimuli(n).timinginfo  stands for. Is it the onset of each word relative to the onset of the file (in seconds), plus a last NaN slot which displays the total duration of the file? Is word by word onset the work that the RAs di

[2015-09-16 14:10] JuliaUdden commented on #82
@schoffelen, @nihll

[2015-09-16 14:13] schoffelen commented on #82
indeed.

[2015-09-16 14:34] JuliaUdden commented on #82
Thanks.

[2015-09-25 08:12] annhul opened #89 "wb for vizualization of evoked data"
I am having problems with setting the scale to my liking. If using a jet scale (the darker the color the higher values) , the scale sets the darkest blue color at zero though I would like it to go from -0.06 to 0.06 (see screen shot).  @schoffelen

![image](https://cloud.githubusercontent.com/assets/1788169/10095952/44828264-6376-11e5-8f84-6864cc6c713d.png)

[2015-09-25 09:16] schoffelen commented on #89
I assume you know about the menu that allows you to play around with thresholds, color ranges and color maps? I think that there are sufficient degrees of freedom there to get what you want. You should be able to color code the negative values as well (provided there are negative values in your functional maps :o) ).

[2015-09-25 09:58] annhul commented on #89
Yes I am, and I can it to work on the Psych-no-none color scale  (that give lighter color the higher the value) but not using the jet scale...
![image](https://cloud.githubusercontent.com/assets/1788169/10097868/0975a480-6385-11e5-9de6-d7b1f70dda1f.png)

[2015-09-25 11:17] schoffelen commented on #89
I am a bit puzzled by the distribution of the values. Is this the same for the matlab variable that you use, prior to exporting it to a cifti file?

[2015-09-25 11:38] annhul commented on #89
I think the histogram is summing the observations across all time points  because I have the fixed scale option set.

[2015-09-25 11:41] schoffelen commented on #89
but why is there a gap between -0.03 and 0.03, and why are the negative values so 'sticky'.

[2015-09-25 11:58] annhul commented on #89
Because the data is masked before transforming it to nifti.

[2015-12-08 09:09] schoffelen commented on #89
I don't think that this is still an issue. Closing for now.

[2015-12-08 09:09] #89 closed

[2015-12-30 08:42] annhul commented on #21
I get a error when trying to run the cluster correction for mcp (using the fdr correction works fine). The code is as follows:
cfg          = [];
cfg.correctm = 'cluster';
cfg.numrandomization = 100;
stat_corr = mous_mne_groupanalysis(subj, suffix{1},'','parameter','avg.dspm','cfg',cfg,'sent',sent,'seq',seq);

%% And the error as such:
Error using spm_bwlabel
spm_bwlabel: CONN must be 6, 18 or 26

[2015-12-30 12:41] annhul commented on #21
I debugged a little further.. in clusterstat.m the variable numdims is optionally either 2 or 3 depending on if it is 2D or 3D data. The numdims variable is then multiplied by 2 and sent to  spm_bwlabel. However, if the data is 2D (as our data is),then 2*2 is 4 which is not 6, 18 or 26 as required by spm_bwlabel...so it seems to be a ft bug (?). Please advise @schoffelen as to how to proceed :)

[2016-01-02 14:36] schoffelen commented on #21
It looks as if the code takes a wrong turn, it should not end up in that part to begin with.
Before I dig into this: your git-repository and fieldtrip are up to date?

[2016-01-03 12:19] annhul commented on #21
Yes my git is up to date and ft is added by addpath /home/common/matlab/fieldtrip whereafter
ft_defaults is run (as far as I know this runs the most recent version of ft...)

[2016-01-03 12:57] schoffelen commented on #21
what script are you running. I don't know what suffix{1} is, and also not what you use as sent and seq variables.

[2016-01-03 13:02] annhul commented on #21
/project/3011020.09/annhul/analyses/analysis20151228_1.m (the number of randomizations is low on purpose for debugging/test-running the code).

[2016-01-04 08:19] schoffelen commented on #21
I don't know whether this used to work, but indeed the current version of the FT-code takes a wrong turn somewhere, not using the cfg.tri for the creation of the spatial neighborhood-matrix. I updated the fieldtrip code (in ft_statistics_montecarlo): it should work now.

[2016-01-04 09:14] annhul commented on #21
Thank you, yes now it works! I am not sure it worked before either, which is may explain why I ended up using the fdr correction instead.

[2016-03-21 15:38] jingjiangpsy commented on #21
Hi @schoffelen,  I used  2 versions of fieldtrip (fieldtrip-20160320 and fieldtrip-20160126) for source statistical analysis, but it still reports the same error as below after computing statistic 1000 from 1000.  The data are based on stc files created by mne_make_movie.

I am wondering in these 2 versions, whether the ft_statistics_montecarlo you mentioned is updated or not. If updated, do you k

[2016-03-21 15:45] schoffelen commented on #21
I just removed a comment of a person unknown to me, and this comment was not relevant for this thread.
I am surprised actually that the comment ended up here to begin with.

[2016-11-30 08:07] #77 closed, assigned to schoffelen

[2018-11-12 13:56] #79 closed, assigned to nihll

[2018-11-12 13:58] #32 closed, assigned to schoffelen

[2018-11-12 13:58] #28 closed, assigned to annhul

[2018-11-12 13:59] #8 closed, assigned to schoffelen

[2018-11-12 14:00] #64 closed, assigned to schoffelen

[2019-02-22 08:37] #82 closed, assigned to schoffelen